*{
padding:0;
margin: 0;

}
.box{
    position: absolute;
    top:50%;
    left:30%;
}
.box a{
    height: 50%;
    width: 200%;
    border:2px solid pink;
    color:pink;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    z-index: 2;

}
.box a::before{
position:absolute;
content: "";
width: 0%;
height: 100%;
background:black;
top:0;
left:0;
z-index: -1;
transition: 0.5s;

}
.box a:hover::before{
    width:100%
}
