*{
padding: 0;
margin: 0;


}
.box{
position: absolute;
top:50%;
left: 25%;
}
.box a{
    width: 200px;
    height: 50px;
    color: rgb(221, 52, 81);
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.box a::after{

    position: absolute;
    content: "";
    height: 50%; 
    width: 25%;
    border-top:2px solid rgb(252, 22, 22);
    border-left:2px solid rgb(252, 22, 22);
    top:0;
    left:0;
    transition: 0.3s;


}

.box a::before{

    position: absolute;
    content: "";
    height: 50%; 
    width: 25%;
    border-bottom:2px solid rgb(8, 3, 3);
    border-right:2px solid rgb(19, 2, 2);
    bottom:0;
    right:0;
    transition: 0.3s;

}
.box a:hover::after{
width: 110%;
height: 108%;
} 
.box a:hover::before{
    width: 110%;
    height: 108%;
    } 